* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.country-box {
  border: 1px solid gray;
  padding: 2rem;
  margin-bottom: 20px;
  background-color: aqua;
}
.flag {
  width: 10rem;
}
